<!DOCTYPE html>
<html>
<head>
	<title>Flight Controller</title>
</head>
<body>
	<button class="plus">+</button>
	<br>
	<button class="minus">-</button>
	<script type="text/javascript" src="/script.js"></script>
</body>
</html>